<div class="notification-section">
  <app-notification-display></app-notification-display>
</div>

<div class="power-controls">
  <div (click)="saveToDisk();" class="button center" title="Save the guild to disk">
    SAVE INSTANCE
  </div>
  <div (click)="leaveGuild();" class="button center red" title="Leave the guild">
    DELETE INSTANCE
  </div>
  <div class="button center red" style="grid-area: shutdown;" (click)="shutdown()" title="Gracefully shut the back-end down. Any request will restart it again.">
    SHUTDOWN SERVER
  </div>
</div>
